@model IEnumerable<AspDotNet_MVC_Project.Models.User>

@{
    ViewData["Title"] = "UserList";
}
@inject UserManager<User> UserManager


<h1>UserList</h1>

<p>
    <a asp-action="UserCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Role
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVerified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @{
                    var roles = await UserManager.GetRolesAsync(item);
                }
                @string.Join(", ", roles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVerified)
            <td>
                <a asp-action="UserEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="UserDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
